body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Lato', sans-serif;
}

.container {
  text-align: center;
  padding: 20px;
  height: auto;
}


/*
 * Estilos de tu proyecto
 */

/*
Menu
*/

nav {
  background-color: #2B3F4F;
  height: 108px;
  width: 100%;
  top: auto;
  margin: 0;
  padding-bottom: 40px;
  padding: 0;
  position: fixed;
}

ul{
  list-style: none;
  color: #FFFFFF;
  margin: 0;
  padding:0;
  line-height:1;
}

li{
  display: inline-block;
}

.logobutton {
  font-size: 32px;
  font-family: "Montserrat";
  text-decoration: none;
  font-weight: 700;
  width: 320px;
  height: 45px;
  margin-left: 77px;
  margin-top: 35px;
  float: left;
}

.logobutton:hover{
  color: #FFFFFF;
	cursor: pointer;
}
.logobutton:visited{
  color: #FFFFFF;
	cursor: pointer;
}

.rightbuttons{
  float: right;
  margin-right: 75px;
  margin-top: 37px;
}
.button {
  font-size: 16.5px;
  font-family: "Montserrat";
  font-weight: 700;
  height: 20px;
  margin-right: 12px;
  text-decoration: none;
  line-height: 2;
  letter-spacing: 0.7px;
	color: #FFFFFF;
  text-align: right;
}


.button:hover{
	color:#08BC9E;
}


nav.clear {
  clear: both;
}


/*first section "start"*/

.start {
  background-color: #00BC9E;
  color: #FFFFFF;
  width: auto;
  height: 685px;
  padding-top: 100px;
}

.imgman {
  width: 256px;
  height: 256px;
  background-size: 100%;
  background-image: url(../assets/images/profile.png);
  display: inline-block;
  margin-top: 72px;
}

.stitle {
  font-family: "Montserrat";
  font-size: 76px;
  font-weight: 700;
  margin-top: 27px;
  margin-bottom: 20px;
}

.hrstar {
  width: 270px;
  height: 40px;
  padding-left: 477px;
  display: block;
  margin-top: 20px;
  margin-bottom: 0px
}

.line1 {
  height: 5px;
  width: 103px;
  border: none;
  background-color: #FFFFFF;
  display: inline-block;
  margin-right: 6px;
  top: 10px;
}

.fa-star {
  font-size: 34px;
  display: inline-block;
}

.line2 {
  height: 5px;
  width: 103px;
  border: none;
  background-color: #FFFFFF;
  display: inline-block;
  margin-left: 6px;
}

.description {
  font-size: 28px;
  text-align: center;
  margin-top: 10px;
}

.title2 {
  font-size: 48px;
  color: #212529;
  font-family: "Montserrat";
  font-weight: 700;
  margin: 110px 0px 10px 0px;
}


/*second section "portfolio"*/

.portfolio {
  background-color: #FFFFFF;
  width: 1264px;
  height: 884px;
}

.hrstar2 {
  color: #2B3F4F;
  margin-top: 10px;
}

.line3 {
  height: 5px;
  width: 103px;
  border: none;
  background-color: #2B3F4F;
  display: inline-block;
  margin-right: 6px;
}

.line4 {
  height: 5px;
  width: 103px;
  border: none;
  background-color: #2B3F4F;
  display: inline-block;
  margin-left: 6px;
}

.pimgs {
  height: 570px;
  margin-left: 40px;
}

.pimg1 {
  width: 350px;
  height: 253px;
  background-size: 100%;
  background-image: url(../assets/images/portfolio/cabin.png);
  float: left;
  margin: 15px;
}

.pimg1:hover{
	background-image: url(../assets/images/portfolio/cabinhover.png);
	cursor: pointer;
}

.pimg2 {
  width: 350px;
  height: 253px;
  background-size: 100%;
  background-image: url(../assets/images/portfolio/cake.png);
  float: left;
  margin: 15px;
}

.pimg2:hover{
	background-image: url(../assets/images/portfolio/cakehover.png);
	cursor: pointer;
}

.pimg3 {
  width: 350px;
  height: 253px;
  background-size: 100%;
  background-image: url(../assets/images/portfolio/circus.png);
  float: left;
  margin: 15px;
}

.pimg3:hover{
	background-image: url(../assets/images/portfolio/circushover.png);
	cursor: pointer;
}

.clear {
  clear: both;
}

.pimg4 {
  width: 350px;
  height: 253px;
  background-size: 100%;
  background-image: url(../assets/images/portfolio/game.png);
  float: left;
  margin: 15px;
}

.pimg4:hover{
	background-image: url(../assets/images/portfolio/gamehover.png);
	cursor: pointer;
}

.pimg5 {
  width: 350px;
  height: 253px;
  background-size: 100%;
  background-image: url(../assets/images/portfolio/safe.png);
  float: left;
  margin: 15px;
}

.pimg5:hover{
	background-image: url(../assets/images/portfolio/safehover.png);
	cursor: pointer;
}

.pimg6 {
  width: 350px;
  height: 253px;
  background-size: 100%;
  background-image: url(../assets/images/portfolio/submarine.png);
  float: left;
  margin: 15px;
}

.pimg6:hover{
	background-image: url(../assets/images/portfolio/submarinehover.png);
	cursor: pointer;
}

/*third section "about"*/

.about {
  height: 578px;
  width: 1264px;
  background-color: #00BC9E;
  color: #FFFFFF;
}

.title {
  padding-top: 50px;
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 0px;
}

.hrstar1 {
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 10px;
}

.aboutxt {
  font-size: 15px;
  width: 100%;
  height: 100%;
  line-height: 30px;
  font-family: "Lato";
  font-size: 20px;
  margin-top: 16px;
  margin-bottom: 20px;
}

.p1 {
  width: 387px;
  height: 175px;
  display: inline-block;
  text-align: left;
  padding-right: 5px
}

.p2 {
  width: 371px;
  height: 175px;
  padding-left: 20px;
  display: inline-block;
  text-align: left;
}

.boton2 {
  width: 215px;
  height: 30px;
  font-family: "Lato";
  font-size: 20px;
  border-radius: 5px;
  display: inline-block;
  border: 2px solid #FFFFFF;
  padding: 10px 5px;
}

.boton2:hover{
	color:#08BC9E;
	background-color: #FFFFFF;
}

/*fourth section contact form*/

.contact {
  height: 937px;
  width: 1264px;
}

.form{
	text-align: center;
}

input{
	width: 736px;
	height: 70px;
	border:none;
	border-bottom: 1px solid #eeeeee;
	font-family: "Lato";
	font-size: 24px;
	margin-top: 20px;
}

textarea{
	width: 736px;
	height: 220px;
	border: none;
	border-bottom: 1px solid #eeeeee;
	font-family: "Lato";
	font-size: 24px;
	margin-top: 20px;
}

.button3{
	width:80px;
	height:50px;
	border-radius:4px;
	text-decoration: none;
	background-color: #08BC9E;
	margin-left: 240px;
	margin-top: 20px;
}

.buttontext3{
	color: #FFFFFF;
	text-decoration: none;
	font-family: "Lato";
	font-size: 20px;
	line-height: 2;
	font-weight: 700;

}


/* Footer design */

footer {
  height: 320px;
  width: 1264px;
  background-color: #2B3F4F;
  padding-top: 35px;
  color: #FFFFFF;
}

h4 {
  font-family: "Montserrat";
  font-size: 28px;
  font-weight: bold;
  margin: 0px;
	margin-bottom: 44px;
}

p {
  font-family: "Lato";
  font-size: 20px;
	line-height: 30px;
	padding-top: 0;
}

.adress, .rrss, .descriptionaf {
  float: left;
  margin: 0;
}

.adress {
  width: 210px;
  height: 275px;
  margin-right: 115px;
  margin-left: 128px;
}

.rrss {
  width: 320px;
  height: 120px;
	align-items: center;
}

.rs {
	padding-top: 5px;
  margin-right: 5px;
	margin-left: 5px;
}

.circle {
  width: 45px;
  height: 45px;
  border: 2px solid #FFFFFF;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
	margin-left: 3px;
	margin-right: 3px;
  display: inline-block;
	color: #FFFFFF;
}

.circle:hover{
	color:#08BC9E;
	background-color: #FFFFFF;
}

.fa-facebook, .fa-google-plus, .fa-twitter, .fa-linkedin, .fa-dribbble {
	font-size: 22px;
	line-height: 2;

}

.descriptionaf {
  width: 340px;
  height: 156px;
  margin-left: 50px;
}

.sb{
	color:#08BC9E;
	text-decoration: none;
}
.sb:hover{
	color: #08BC9E;
	text-decoration: underline;
}


.clear {
  clear: both;
}

.copyright {
	margin-top: 230px;
	margin-left: 520px;
	display: block;
}
